{% extends "base.html" %}
{% block title %}Employee Registration{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Employee Registration</h1>
  <form action="/register" method="POST">
    <div class="form-group">
      <label for="firstnamefield">First Name</label>
      <input type="text" class="form-control" id="firstnamefield" name="firstname"  placeholder="First name">
    </div>
    <div class="form-group">
      <label for="lastnamefield">Last Name</label>
      <input type="text" class="form-control" id="lastnamefield" name="lastname"  placeholder="Last name">
    </div>
    <div class="form-group">
      <label for="deptfield">Department</label>
      <input type="test" class="form-control" id="deptfield" name="dept"  placeholder="Department">
    </div>
  <button type="submit" class="btn btn-default">Add Employee</button>
  </form>
{% endblock %}